<article id="boss1">
    <h2 class="major">團副一【困難】</h2>

    <ul class="actions special small" style="margin-bottom: 2rem;">
        <li><a href="javascript:void(0)" class="button primary fit tab-btn1" onclick="openTab(event, '1diffb3')">困難三王</a></li>
    </ul>

    <hr />

    <div id="1diffb3" class="tab-content" style="display: block;">
        <div class="skill-container">

            <ul class="actions fit small" style="margin-bottom: 1rem;">
                <li><a href="javascript:void(0)" class="button primary fit small skill-btn" onclick="openSkill(event, '1diffb3skill1')">天選圈</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '1diffb3skill2')">血線</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '1diffb3skill3')">魔族禁軍</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '1diffb3skill4')">點點名</a></li>
            </ul>

            <div id="1diffb3skill1" class="skill-content" style="display: block;">
                <h4>第一技能：天選圈</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836298?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="b3skill1"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>天選之人圈圈</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        BOSS 開啟技能後，會在場上<u>隨機出現圈圈</u>為安全區<br>
                                                        如果圈圈直接出現在你腳下，那你肯定是天選之人 ´-ω-)b<br>
                                                        玩家請在時間內盡速前往並<u>確保持續待在圈內</u><br>
                                                </span>
                    <span style="font-size: 0.75rem; color: #bbb; padding-left: 1.2rem; display: block;">
                                                        ↪ 某人的經驗：王在這期間會打人，因觸發閃避而彈出去圈外的話...<s>那你很幸運了</s> ( ･ิω･ิ)
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. <b style="color: #ff9999;">王會打人</b>，被擊飛的話請盡速回到圈內
                </div>
            </div>

            <div id="1diffb3skill2" class="skill-content" style="display: none;">
                <h4>第二技能：血線</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836309?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="b3skill2"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>血線</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        BOSS 開啟技能後，會出現<u>以 BOSS 為中心的放射狀線條</u><br>
                                                        會先出現<u>黃綠色線</u>作為預警，再出現<u>紅線</u>作為攻擊手段<br>
                                                        困難模式的血線會<u>連續出現三次</u>，要記得連續躲避三次 (⁎⁍̴̛ᴗ⁍̴̛⁎)<br>
                                                </span>
                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. <b style="color: #ff9999;">不要離王太近</b>，會判定成死亡
                </div>

            </div>

            <div id="1diffb3skill3" class="skill-content" style="display: none;">
                <h4>第三技能：魔族禁軍</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836324?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="b3skill3"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>魔族JIN軍</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        BOSS 開啟技能後，會在場上出現<u>隨機數量的魔族禁軍</u><br>
                                                        時間內打死就好了，很簡單對吧 ( • ̀ω•́ )？<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. 這時候不是很危險，<b style="color: #aaddff;">盾手可以抽空修裝備</b><br>
                </div>

            </div>

            <div id="1diffb3skill4" class="skill-content" style="display: none;">
                <h4>第四技能：點點名</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836337?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="b3skill4"></iframe>
                    <iframe src="https://player.vimeo.com/video/1146836350?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479&amp;muted=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="b3skill4pic"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3><s>YOYO</s>點點名</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        BOSS 開啟技能後，在場的玩家<u>隨機被點名</u><br>
                                                        被點到的就離<u>王和其他玩家</u>遠一點<br>
                                                        就是這麼簡單 ◝(･'ω'･)◟<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. 被點名的玩家<b style="color: #aaddff;">左下聊天欄</b>會有提示<br>
                </div>

            </div>

        </div>
    </div>


    <ul class="actions">
        <li><a href="#dungeon" class="button small">返回上一頁</a></li>
    </ul>
</article>