<article id="boss3">
    <h2 class="major">團副二【困難】</h2>

    <ul class="actions special small" style="margin-bottom: 2rem;">
        <li><a href="javascript:void(0)" class="button primary fit tab-btn1" onclick="openTab(event, '2diffb1')">困難一王</a></li>
        <li><a href="javascript:void(0)" class="button fit tab-btn1" onclick="openTab(event, '2diffb2')">困難二王</a></li>
        <li><a href="javascript:void(0)" class="button fit tab-btn1" onclick="openTab(event, '2diffb3')">困難三王</a></li>
    </ul>

    <hr />

    <div id="2diffb1" class="tab-content" style="display: block;">
        <div class="skill-container">

            <ul class="actions fit small" style="margin-bottom: 1rem;">
                <li><a href="javascript:void(0)" class="button primary fit small skill-btn" onclick="openSkill(event, '2diffb1skill1')">腐敗原木</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '2diffb1skill2')">範圍攻擊</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '2diffb1skill3')">封印圈</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '2diffb1skill4')">咆嘯圈</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '2diffb1skill5')">爆破圈</a></li>
            </ul>

            <div id="2diffb1skill1" class="skill-content" style="display: block;">
                <h4>第一技能：腐敗原木</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836499?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="tree1"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>腐敗原木</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        一王開啟技能後，會在場上<u>隨機生成腐敗原木</u><br>
                                                        需要在時間內全部打掉 (╯•̀ὤ•́)╯<br>
                                                        王的周圍會有光圈，<u>不可以踏入</u><br>
                                                        打掉所有腐敗原木後一王會陷入虛弱狀態<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. <b style="color: #ff9999;">傷害要夠多</b>，時間內沒有清完會全滅
                </div>

            </div>

            <div id="2diffb1skill2" class="skill-content" style="display: none;">
                <h4>第二技能：範圍攻擊</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836267?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="attack"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>範圍攻擊</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        一王開啟技能後，前方會出現<u>紅色三角形區塊</u><br>
                                                        不要踩到就好了，簡單吧 (｡・ω・｡)?<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. 建議平時打王時除了盾手，<b style="color: #aaddff;">其他人盡量都站在王身後</b>
                </div>

            </div>

            <div id="2diffb1skill3" class="skill-content" style="display: none;">
                <h4>第三技能：封印圈</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836384?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="circle"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>封印圈</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        一王開啟技能後，場上會出現<u>隨機位置的五個封印圈</u><br>
                                                        玩家們各自找一個圈圈站好即可 (•ㅂ•)/<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. <b style="color: #aaddff;">遇到重疊的圈時</b>可以一人站多個，沒事的人可以去打王
                </div>

            </div>

            <div id="2diffb1skill4" class="skill-content" style="display: none;">
                <h4>第四技能：咆嘯圈</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836396?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="growl"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        padding-bottom: 4rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>咆嘯圈</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        一王開啟技能後，周遭會<u>湧出許多同心圓波攻擊</u><br>
                                                        玩家迅速離開王的身邊就好，超簡單 ヽ(●´∀`●)ﾉ<br>
                                                </span>
                </div>

            </div>

            <div id="2diffb1skill5" class="skill-content" style="display: none;">
                <h4>第五技能：爆破圈</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836368?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="boom"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        padding-bottom: 4rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>爆破圈</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        一王開啟技能後，王的周圍會有光圈，<u>不可以踏入</u><br>
                                                        光圈內會<u>重複四次爆炸</u>，爆炸時會<u>把圈內玩家往中心吸</u><br>
                                                        被吸住就很難出來了喔 (✘﹏✘ა)<br>
                                                </span>
                </div>

            </div>

        </div>
    </div>

    <div id="2diffb2" class="tab-content" style="display: none;">
        <div class="skill-container">

            <ul class="actions fit small" style="margin-bottom: 1rem;">
                <li><a href="javascript:void(0)" class="button primary fit small skill-btn" onclick="openSkill(event, '2diffb2skill1')">蹲下</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '2diffb2skill2')">範圍攻擊</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '2diffb2skill3')">吸血反盾</a></li>
            </ul>

            <div id="2diffb2skill1" class="skill-content" style="display: block;">
                <h4>第一技能：蹲下</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836464?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="squat"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        padding-bottom: 4rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>蹲下</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        二王開啟技能後，<u>所有人立刻蹲下，不可起身</u><br>
                                                        沒了，就這麼簡單 ( ^ω^)<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. <b style="color: #ff9999;">有機率同時觸發多個技能</b>，注意閃躲
                </div>

            </div>

            <div id="2diffb2skill2" class="skill-content" style="display: none;">
                <h4>第二技能：範圍攻擊</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836283?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="attack2"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>範圍攻擊</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                         二王開啟技能後，前方會出現<u>紅色半圓形區塊</u><br>
                                                        不要踩到就好了，簡單吧 (｡・ω・｡)?<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. 建議平時打王時除了盾手，<b style="color: #aaddff;">其他人盡量都站在王身後</b>
                </div>

            </div>

            <div id="2diffb2skill3" class="skill-content" style="display: none;">
                <h4>第三技能：吸血反盾</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836453?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="shield"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>吸血反盾</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        二王開啟技能後，發光期間<u>不可以對其造成任何傷害</u><br>
                                                        如果二王受到傷害的話，<u>輕則回一大口血，重則玩家暴斃</u><br>
                                                        發光效果解除後就可以正常攻擊啦 ─=≡Σ((( つ•̀ω•́)つ<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. <b style="color: #ff9999;">盾手不可以帶反傷盾</b>，反傷盾造成的傷害一樣會對王起作用
                </div>

            </div>

        </div>
    </div>

    <div id="2diffb3" class="tab-content" style="display: none;">
        <div class="skill-container">
            <h4>注意：普通三王的技能困難三王都會，需要請移步</h4>
            <ul class="actions">
                <li>
                    <a href="#boss2" class="button small" onclick="initTab('boss2', '2normb3')">
                        點我(つ´▽`)つ
                    </a>
                </li>
            </ul>


            <ul class="actions fit small" style="margin-bottom: 1rem;">
                <li><a href="javascript:void(0)" class="button primary fit small skill-btn" onclick="openSkill(event, '2diffb3skill1')">困難紅波</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '2diffb3skill2')">藍波一式</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '2diffb3skill3')">藍波二式</a></li>
                <li><a href="javascript:void(0)" class="button fit small skill-btn" onclick="openSkill(event, '2diffb3skill4')">藍波三式</a></li>
            </ul>

            <div id="2diffb3skill1" class="skill-content" style="display: block;">
                <h4>第一技能：困難紅波</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <iframe src="https://player.vimeo.com/video/1146836404?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="hardred"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>困難紅波</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        普通紅波的加強版 ✧◝(⁰▿⁰)◜✧<br>
                                                        困難紅波會<u>連續產生四次</u>並且<u>速度會越來越快</u><br>
                                                        玩家需要持續逆時針移動，保證自身處於安全區內<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. <b style="color: #aaddff;">貼著內圈跑可以偷傷害</b>，但是注意不要貼太近<br>
                        <span style="font-size: 0.75rem; color: #bbb; padding-left: 1.2rem; display: block;">
                                                        ↪ 沒有把握就乖乖跑，不要貪傷害
                                                    </span>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        2. <b style="color: #ff9999;">跑外圈必備覺醒鳳凰羽毛</b>，沒有的不要跑外圈
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        3. <b style="color: #ff9999;">不可以站在圈外</b>，站在圈外會直接死
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        4. <b style="color: #ff9999;">不要跳躍</b>，有機率判定成死亡
                </div>


            </div>

            <div id="2diffb3skill2" class="skill-content" style="display: none;">
                <h4>第二技能：藍波一式</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <img src="images/One_Blue.gif" alt="藍波一式" style="width: 335px; max-width: 100%; height: auto; border-radius: 4px;" loading="lazy"/>
                    <iframe src="https://player.vimeo.com/video/1146836436?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="oneblue"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>藍波一式</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        普通藍波的加強版 ✧◝(⁰▿⁰)◜✧<br>
                                                        我們先假設第一波是1，變化後的波是2<br>
                                                        藍波一式會以<u>12122</u>的固定模式交替<br>
                                                        一式的第五波會<u>重複一次第四波</u>的攻擊<br>
                                                        所以第四波後記得不要動喔 ٩(๑•̀ω•́๑)۶<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. <b style="color: #ff9999;">不要跳躍</b>，有機率判定成死亡
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        2. <b style="color: #ff9999;">不可以站在圈外</b>，站在圈外會直接死
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        3. <b style="color: #ff9999;">不要離王太近</b>，有機率判定成死亡
                </div>

            </div>

            <div id="2diffb3skill3" class="skill-content" style="display: none;">
                <h4>第三技能：藍波二式</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <img src="images/Two_Blue.gif" alt="藍波二式" style="width: 335px; max-width: 100%; height: auto; border-radius: 4px;" loading="lazy"/>
                    <iframe src="https://player.vimeo.com/video/1146836360?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="blueline"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>藍波二式</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        普通藍波的加強版 ✧◝(⁰▿⁰)◜✧<br>
                                                        我們先假設第一波是1，變化後的波是2<br>
                                                        藍波二式會以<u>1122</u>的固定模式交替<br>
                                                        二式的波會<u>重複一次相同波</u>的攻擊<br>
                                                        所以記得不要動太快喔 _(┐「ε:)_<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. <b style="color: #ff9999;">不要跳躍</b>，有機率判定成死亡
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        2. <b style="color: #ff9999;">不可以站在圈外</b>，站在圈外會直接死
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        3. <b style="color: #ff9999;">不要離王太近</b>，有機率判定成死亡
                </div>

            </div>

            <div id="2diffb3skill4" class="skill-content" style="display: none;">
                <h4>第四技能：藍波三式</h4>

                <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; margin-bottom: 2rem; flex-wrap: wrap;">
                    <img src="images/Three_Blue.gif" alt="藍波三式" style="width: 335px; max-width: 100%; height: auto; border-radius: 4px;" loading="lazy"/>
                    <iframe src="https://player.vimeo.com/video/1146836479?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;autoplay=1&amp;muted=1&amp;loop=1&background=1" width="350" height="350" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="threeblue"></iframe>
                </div>

                <div style="text-align: left;
                                                        border: 1px solid rgba(255,255,255,0.3);
                                                        background: rgba(255,255,255,0.05);
                                                        padding: 1.5rem;
                                                        border-radius: 6px;
                                                        margin-top: 1rem;
                                                        margin-bottom: 3rem;
                                                        box-shadow: 0 4px 15px rgba(0,0,0,0.3);">
                    <p style="margin-bottom: 0.8rem;">
                    <h3>藍波三式</h3>
                    <span style="font-size: 1rem; padding-left: 0.2rem; display: block;">
                                                        普通藍波的加強版 ✧◝(⁰▿⁰)◜✧<br>
                                                        我們先假設第一波是1，變化後的波是2<br>
                                                        藍波三式會以<u>12121212</u>的固定模式交替<br>
                                                        三式的波會產生<u>八次不斷變換</u>的攻擊<br>
                                                        所以記得持續奔跑不要停 ε≡ﾍ( ´∀`)ﾉ<br>
                                                </span>

                    <hr style="margin-top: 1rem;margin-bottom: 1.5rem;" />
                    <h3>需要注意的小細節</h3>
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        1. <b style="color: #ff9999;">不要跳躍</b>，有機率判定成死亡
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        2. <b style="color: #ff9999;">不可以站在圈外</b>，站在圈外會直接死
                    <p style="margin-bottom: 0.5rem;font-size: 0.9rem;">
                        3. <b style="color: #ff9999;">不要離王太近</b>，有機率判定成死亡
                </div>

            </div>

        </div>
    </div>


    <ul class="actions">
        <li><a href="#dungeon" class="button small">返回上一頁</a></li>
    </ul>
</article>